<div class="col-md-15 col-md-offset-2">
  <h3>Add Stock</h3>

  <br />
  <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!!</strong> Stock Addded successfully..!
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- design for adding form -->
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <!-- stockPrice -->
    <div class="form-group">
      <label for="stockPrice">Stock Price:</label>
      <input type="number" class="form-control" formControlName="stockPrice" id="stockPrice"
        placeholder="Enter Stock Price" />
      <div *ngIf="submitted && addForm.controls.stockPrice.errors" class="error">
        <div class="text-danger" *ngIf="addForm.controls.stockPrice.errors.required">
          stockPrice required...
        </div>
        <div class="text-danger" *ngIf="addForm.controls.stockPrice.errors.pattern">
          stockPrice must be a non negative and decimal number with only 2 decimal points
        </div>
      </div>
    </div>

    <button class="btn btn-success">Add</button> &nbsp;&nbsp;

    <button class="btn btn-danger" type="reset">Cancel</button> &nbsp;&nbsp;

    <a class="btn btn-warning" [routerLink]="['/home']">
      Back to Home</a>
    <br />
    <br />
  </form>