<br /><br />
<tr>
    <td>
        <button class="btn  btn-success" (click)="registerCompany()">Add Company</button> &nbsp;
    </td>
    <td>
        <button class="btn btn-success" style="text-align: right;" (click)="listCompanies()">List Companies</button>
        &nbsp;
    </td>
    <span style="text-align-last: right;">
        <td>
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="companyCode" id="company code"
                        placeholder="Enter Company Code" />
                    <div *ngIf="submitted && searchForm.controls.companyCode.errors" class="error">
                        <div class="text-danger" *ngIf="searchForm.controls.companyCode.errors.required">
                            Company Code required...
                        </div>
                    </div>
                </div> &nbsp;&nbsp;
                <button class="btn btn-success">Search</button>
            </form>
        </td>
    </span>
</tr>